/* $Id: markitup-1.css,v 1.1.4.3 2009/03/07 16:54:38 sun Exp $ */

/**
 * markItUp
 */
.markItUp .markitup-bold a {
  background-image: url(../../markitup/markitup/sets/default/images/bold.png);
}
.markItUp .markitup-italic a {
  background-image: url(../../markitup/markitup/sets/default/images/italic.png);
}
.markItUp .markitup-stroke a {
  background-image: url(../../markitup/markitup/sets/default/images/stroke.png);
}
.markItUp .markitup-image a {
  background-image: url(../../markitup/markitup/sets/default/images/picture.png);
}
.markItUp .markitup-link a {
  background-image: url(../../markitup/markitup/sets/default/images/link.png);
}
.markItUp .markitup-cleanup a {
  background-image: url(../../markitup/markitup/sets/default/images/clean.png);
}
.markItUp .markitup-preview a {
  background-image: url(../../markitup/markitup/sets/default/images/preview.png);
}
